/* This is the global css that applys to all the html files */
@font-face {
	font-family: 'Berlin Sans FB';
	src: url('../BerlinSansFB-Reg.woff2') format('woff2'),
	url('../BerlinSansFB-Reg.woff') format('woff'),
	url('../BerlinSansFB-Reg.ttf') format('truetype'),
	url('../BerlinSansFB-Reg.svg#BerlinSansFB-Reg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	font-family: Arial, Sans, "Times New Roman";
}

/* The css for the pc version */
@media only screen and (min-width: 961px) {
	/* The background video */
	#bgvideo {
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
		min-height: 100%;
		min-width: 100%;
		width: 100%;
		object-fit: cover;
	}
	/* Header */
	.header-image{
	    height: 150px;
	    object-fit: cover;
	    margin-left: auto;
	    display: block;
	    margin-right: auto;
	    margin-top: -8px;
	}

	header{
		position: relative;
	}


	h1{
		text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;
		font-family: "Berlin Sans FB";
	    font-size: 5vw;
	    font-weight: 500;
	    position: absolute;
	    top: -2%;
		left: 30%;
	    color: #FFF;
	    text-align: center;
	}
	/* Navigation bar */
	nav{
		display: block;
		background-color: #707070;
		height: 40px;
		line-height: 40px;
		margin-left: auto;
	    margin-right: auto;
	    word-spacing: 20px;
	    font-size: 1.5em; 
	    margin-top: -24px;
	    text-align: center;
	}

	ul li, a{
		display: inline;
    	list-style-type: none;
    	text-decoration: none;
    	color: #FFF;
    	text-transform: uppercase;
    }
    /* Main */
	.header-image, .product-image, .grid-containier, nav, section, footer{
		width: 750px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		text-align: center;
	}

	.entertainment{
		display: block;
		text-align: center;
		background-color: #2699FB;
		margin-left: auto;
		margin-right: auto;
	}
	/* Block */
	h2{
		margin-bottom: 0px;
	    font-size: 4em;
	    color: #FFF;
	    margin-top: 0px;
	    text-transform: uppercase;
	}
	/* Footer */
	footer {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		background-color: #000;
		color: #FFF;
		margin-top: -25px;
		height: 40px;
		line-height: 40px;
		font-size: 1.5em;
	}
}

/* The css for the tablet version */
@media only screen and (min-width: 360px) and (max-width: 960px){
	#bgvideo{
		display: none;
	}
	/* Header */
	.header-image{
	    height: 125px;
	    object-fit: cover;
	    margin-left: auto;
	    display: block;
	    margin-right: auto;
	    margin-top: -8px;
	}

	header{
		position: relative;
		width: 100%;
	}

	h1{
		font-family: "Berlin Sans FB";
	    font-size: 10vw;
	    font-weight: 500;
	    position: absolute;
	    top: -2%;
		left: 12%;
	    color: #FFF;
	    text-align: center;
	    text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;
	}
	/* Navigation bar */
	nav{
		display: block;
		background-color: #707070;
		height: 50px;
		line-height: 50px;
		margin-left: auto;
	    margin-right: auto;
	    word-spacing: 20px;
	    font-size: 2em; 
	    margin-top: -32px;
	    text-align: center;
	}

	ul li, a{
		display: inline;
    	list-style-type: none;
    	text-decoration: none;
    	color: #FFF;
    	text-transform: uppercase;
    }
    /* Main */
	.header-image, .grid-container, nav, section, footer{
		width: 100%;
	}

	aside{
		display: none;
	}
	/* Footer */
	footer {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		background-color: #000;
		color: #FFF;
		margin-top: -25px;
		height: 40px;
		line-height: 40px;
		font-size: 1.5em;
	}
}

/* The css for the mobile version */
@media only screen and (max-width: 359px){
	#bgvideo{
		display: none;
	}
	/* Header */ 
	.header-image{
	    height: 60px;
	    object-fit: cover;
	    margin-left: auto;
	    display: block;
	    margin-right: auto;
	    margin-top: -8px;
	}

	h1{
		font-family: "Berlin Sans FB";
	    font-size: 10vw;
	    font-weight: 500;
	    position: absolute;
	    top: -2%;
		left: 12%;
	    color: #FFF;
	    text-align: center;
	    text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;
	}

	header{
		position: relative;
	}
	/* Navigation bar */
	nav{
		display: block;
		background-color: #707070;
		height: 50px;
		line-height: 60px;
		margin-left: auto;
	    margin-right: auto;
	    word-spacing: 20px;
	    font-size: 1em; 
	    margin-top: -32px;
	    text-align: center;
	}

	ul li, a{
		display: inline;
    	list-style-type: none;
    	text-decoration: none;
    	color: #FFF;
    	text-transform: uppercase;
    }
    /* Main */
    .header-image, .product-image, .grid-container, nav, section, footer{
		width: 100%;
	}

	h2{
		margin-bottom: 0px;
	    font-size: 2em;
	    color: #FFF;
	    margin-top: 0px;
	    text-transform: uppercase;
	    font-weight: 100;
	}

	.entertainment{
		display: block;
		text-align: center;
		background-color: #2699FB;
		margin-left: auto;
		margin-right: auto;
	}
	/* Footer */
	footer {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		background-color: #000;
		color: #FFF;
		margin-top: 0px;
		height: 50px;
		line-height: 50px;
		font-size: 1em;
	}
}
