.header-image{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    position: relative;
    overflow: hidden;
}

.product-image{
	width: 900px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

nav, h1, span{
	text-transform: uppercase;
	text-align: center;
}

p{
	text-align: center;
}

span{
	display: block;
	font-family: arial;
	font-size: 30pt;
}

