@media only screen and (min-width: 961px) {
	.header-image{
	    height: 150px;
	    object-fit: cover;
	    margin-left: auto;
	    display: block;
	    margin-right: auto;
	    margin-top: -8px;
	}

	h1{
		font-family: Berlin Sans FB;
	    font-size: 5vw;
	    font-weight: 501;
	    position: absolute;
	    top: -2%;
		left: 30%;
	    color: #FFF;
	    text-align: center;
	}

	nav{
		display: block;
		background-color: #707070;
		height: 40px;
		line-height: 40px;
		margin-left: auto;
	    margin-right: auto;
	    word-spacing: 20px;
	    font-family: arial;
	    font-size: 15pt; 
	    margin-top: -20px;
	    text-align: center;
	}

	ul li, a{
		display: inline;
    	list-style-type: none;
    	text-decoration: none;
    	color: #FFF;
    	text-transform: uppercase;
    }

	body{
		background-image: url("img/background.jpeg");
		background-repeat: no-repeat;
	}

	.header-image, form, nav, section, footer{
		width: 750px;
		margin-left: auto;
		margin-right: auto;
	}

	.entertainment{
		display: block;
		text-align: center;
		background-color: #2699FB;
		margin-left: auto;
		margin-right: auto;
	}

	h2{
		margin-bottom: 0px;
	    font-size: 4em;
	    color: #FFF;
	    margin-top: 0px;
	    font-family: arial;
	    text-transform: uppercase;
	}

	.form{
		margin-left: auto;
		margin-right: auto;
		background-color: #F5F5F5;
	}

	fieldset{
		width: 600px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 15px;
		background-color: #FFF;
	}

	select{
		float: right;
		width: 400px;
		height: 30px;
    	margin-top: -5px;
    	margin-bottom: -7px;
	}

	.submit{
		width: 630px;	
    	margin-left: 60px;
   		margin-right: 60px;
   		margin-bottom: 40px;
   		background-color: #2699FB;
   		border: none;
    	height: 35px;
    	color: #FFF;
	}

	.input{
		margin-left: -13px;
	    margin-right: -13px;
	    margin-top: -13px;
	    margin-bottom: -13px;
	    width: 600px;
	    height: 30px;
	    border: none;
	    padding-left: 10px;
	}


	footer {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		background-color: #000;
		color: #FFF;
		margin-top: 0px;
		height: 40px;
		line-height: 40px;
		font-size: 1.5em;
	}
}

@media only screen and (min-width: 360px) and (max-width: 960px){

}

@media only screen and (max-width: 359px){

}

